.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.coverage
.cache/
.env
.env.*

build/
dist/
qiskit-aer/build/

.conan/
.conan2/

qiskit-aer/.git/

.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
